.btn {
  color: var(--color-primary);
  font-size: 18px;
  &:hover {
    color: red;
  }
}

.editBtn {
  &:hover {
    color: var(--color-primary);
  }
}

.item__main {
  display: flex;
  gap: 6px;
  max-width: 40%;
  align-items: center;
}

.item__info {
  display: flex;
  gap: 16px;
  align-items: center;
  max-width: 60%;
}
